<view title="'Create Account'">
    <content has-header="true" has-subheader="false">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Display Name</span>
                <input type="text" placeholder="John" ng-model="user.display_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="john@suhr.com" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Suhr" ng-model="user.username">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="CreateAccount()">Create Account</button>
    </content>
</view>
