<view title="'User Information'">
    <content has-header="true" has-subheader="false">
        <div class="list card">

            <a href="#/rm-home/userinfo/retrieve" class="item item-icon-left">
                <i class="icon ion-person"></i>
                Retrieve Users
            </a>

            <a href="#/rm-home/userinfo/update" class="item item-icon-left">
                <i class="icon ion-edit"></i>
                Update Users
            </a>

            <a href="#/rm-home/userinfo/change" class="item item-icon-left">
                <i class="icon ion-edit"></i>
                Changing password
            </a>

        </div>
    </content>
</view>